nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; /* Adjust size */
    height: auto;
    margin-right: 10px;
}

nav h1 {
    font-size: 20px;
}

ul {
    list-style: none;
    display: flex;
}

ul li {
    margin: 0 10px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links{
    background-color: transparent;
}

.nav-links:hover{
    background-color: transparent;
}